<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% render 'css-variables' %}
    {% unless settings.type_body_font.system? and settings.type_display_font.system? %}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {% endunless %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,600..800&family=Inter:wght@500;650;750;850;900&display=swap" rel="stylesheet">
    {% unless settings.type_body_font.system? %}
      {{ settings.type_body_font | font_url | preload_tag: as: 'font', crossorigin: 'anonymous' }}
    {% endunless %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}
    <link rel="icon" href="{{ 'favicon.svg' | asset_url }}" type="image/svg+xml">
    {% render 'meta-tags' %}
    {{ content_for_header }}
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
  </head>
  <body>
    <a class="skip-link" href="#MainContent">Skip to content</a>
    {% sections 'header-group' %}
    <main id="MainContent" tabindex="-1">{{ content_for_layout }}</main>
    {% sections 'footer-group' %}
  </body>
</html>
